<footer class='footer monospaced'>
  {{#if resume.meta.messageGDPR}}
    <i class='small'>{{resume.meta.messageGDPR}}</i>
  {{/if}}
  <p class='small'><time datetime={{resume.meta.lastModified}}>Last modified:
      {{resume.meta.lastModified}}</time></p>
</footer>