:root {
  color-scheme: light dark;

  --color-background: #ffffff;
  --color-primary: #212529;
  --color-secondary: #838f90;
  --color-muted: #f4f6f6;
  --color-accent: #e05d00;
  --color-link: #bb4f02;
  --color-masthead: #f4f6f6;

  --scale-ratio: 1.25;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--scale-ratio));
  --scale2: calc(var(--scale1) * var(--scale-ratio));
  --scale3: calc(var(--scale2) * var(--scale-ratio));
  --scale4: calc(var(--scale3) * var(--scale-ratio));
  --scale5: calc(var(--scale4) * var(--scale-ratio));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181a1b;
    --color-primary: #d1cdc7;
    --color-secondary: #aaa398;
    --color-muted: #313435;
    --color-link: #d28a57;
    --color-masthead: #1e2021;
  }
  .name img {
    opacity: 0.8;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  display: grid;
  font: 1em/1.5 Lato, sans-serif;
  gap: 2em;
  grid-template-columns:
    [full-start]
    1fr
    [main-start side-start]
    minmax(min-content, 10em)
    [side-end content-start]
    minmax(min-content, 36em)
    [main-end content-end]
    1fr
    [full-end];
  grid-template-rows: auto [content] 0;
  margin-bottom: 4em;
}

body::before {
  content: '';
  grid-column: full;
  grid-row: content;
}

ol,
ul {
  padding-left: 1em;
}

li + li {
  margin-top: 0.1em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.2s;
}

a:focus,
a:hover {
  color: var(--color-accent);
}

h1,
h2,
h3,
h5 {
  font-weight: normal;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--scale4);
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale3);
}

h3 {
  color: var(--color-accent);
  font-size: var(--scale3);
  grid-column: side;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--scale2);
}

h5 {
  font-size: var(--scale1);
}

h6 {
  font-size: var(--scale0);
}

blockquote {
  border-left: 0.2em solid var(--color-muted);
  padding-left: 1em;
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
  font-style: italic;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: 0.2em;
  vertical-align: -0.2em;
}

.masthead {
  background: var(--color-masthead);
  display: inherit;
  gap: inherit;
  grid-column: full;
  grid-template-columns: inherit;
  padding: 2em 0;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name img {
  background: var(--color-masthead);
  width: 100px;
  height: auto;
  display: none;
  border-radius: 25%;
}

.masthead > *,
section {
  grid-column: main;
}

article > * + *,
blockquote > * + * {
  margin-top: 0.6em;
}

.stack {
  display: grid;
  gap: 1.5em;
}

.icon-list {
  list-style: none;
  padding: 0;
}

.summary {
  display: grid;
  grid-template-areas: 'info download';
}

a[download] {
  align-self: end;
  justify-self: end;
  color: var(--color-primary);
}

.grid-list {
  display: grid;
  gap: 1em;
}

.spaced-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em
}

.spaced-list:first-child::before {
  border-bottom: 1px solid var(--color-muted);
  content: '';
  flex-grow: 1;
  margin: 0 1em;
  order: 1;
}

.spaced-list > :nth-child(2) {
  order: 2;
  word-break: break-word;
}

.spaced-list time {
  white-space: nowrap;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.tag-list > li {
  background: var(--color-muted);
  margin: 0 0.2em 0.2em 0;
  padding: 0.2em 0.6em;
}

@media print, (min-width: 48em) {
  h3 {
    text-align: right;
    margin-bottom: inherit;
  }

  .masthead > *,
  section {
    grid-column: content;
  }

  section {
    display: contents;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  .name img {
    display: block;
  }

  h1 {
    font-size: var(--scale5);
  }

  h2 {
    font-size: var(--scale3);
  }
}

@media print {
  body {
    color: #000;
    background: #fff;
    gap: 1.5em;
    padding: 1em;
  }
  h1 {
    font-weight: bold;
    font-size: var(--scale4);
  }
  h3 {
    font-size: var(--scale2);
    text-align: left;
    font-weight: bold;
  }
  h2, h3 {
    color: #000;
  }
  h4 {
    font-size: var(--scale1);
  }
  cite {
    color: #000;
    font-weight: bold;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  section > * {
    grid-column: main;
  }
  .masthead > *, section {
    grid-column: main;
  }
  .masthead {
    background: #fff;
    border-bottom: 1px solid #000;
    padding: 1em 0;
  }
  .name img {
    opacity: 1;
    background: transparent;
  }
  .icon-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon-list li {
    white-space: nowrap;
    padding: 0.5em;
  }
  .tag-list > li {
    background: #fff;
    border: 1px solid #000;
    padding: 0.1em 0.2em;
    color: #000;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
